@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import 'mixins';
@import 'variables';

//scroll costume
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: $default_background_color;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: $additional_c;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f9f9fd;
}
//pages
body {
  font-family: 'Playfair Display', serif;
}

nav {
  border-bottom: 1px solid $default_background_color;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.281);
  font-weight: 800;

  .navbar-brand {
    z-index: 2;
  }
  .nav-item {
    padding: 15px;
    .nav-link {
      color: $default_background_color !important;
      font-size: 12pt;
      &:hover {
        color: $default_background_color;
      }
    }
  }
}

header {
  height: 100vh;
  overflow: hidden;

  .slide {
    @include bg;
    height: 100vh;
    cursor: pointer;
    color: $default_background_color;
    flex: 1;
    border-right: 1px solid $default_background_color;
    border-left: 1px solid $default_background_color;
    position: relative;
    transition: all 500ms ease-out;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(90%);
    }

    h3 {
      position: absolute;
      font-size: 55pt;
      font-weight: 400;
      bottom: 350px;
      left: 100px;
      padding: 15px 10px;
      opacity: 0;
      border: 1px solid $default_background_color;
    }

    h4 {
      width: 600px;
      position: absolute;
      text-align: end;

      font-size: 40pt;
      font-weight: 500;
      bottom: 350px;
      right: 50px;
      opacity: 0;
    }

    p {
      width: 500px;
      position: absolute;
      font-size: 20pt;
      font-weight: 600;
      bottom: 100px;
      right: 50px;
      text-align: end;
      opacity: 0;
    }

    &.active {
      filter: none;
      flex: 3;
      h3,
      h4,
      p {
        opacity: 1;
        transition: opacity 0.3s easy-in 0.4s;
      }
    }
  }
}

//main content
.popular_goods {
  .ellips {
    @include ellips($default_background_color, 160px);
  }
  background-color: $additional_c;
  min-height: 85vh;
  position: relative;

  .best_seller {
    color: $default_background_color;
    font-size: 40pt;
  }

  .alt {
    text-decoration: none;
    font-size: 27pt;
    color: $default_background_color;
  }

  .carousel {
    min-height: 87vh;
    position: relative;
    background: transparent;

    .indicator {
      width: 15px;
      height: 15px;
      margin: 10px 30px;
      border-radius: 50%;
    }
  }
}
//cards styles
.card {
  width: 300px;
  border-radius: 0;
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid $default_background_color;

  .pic {
    width: 287px;
    height: 377px;
    overflow: hidden;
    @include bg;
  }

  .card-body {
    h5 {
      color: $default_background_color;
      font-size: 15pt;
      padding-top: 20px;
    }

    .price {
      color: $default_background_color;
      font-size: 15pt;
    }
  }
}

//bg block
.costume_btn {
  width: 400px;
  height: 60px;
  border-radius: 0;
  border: 2px solid $default_background_color;
  color: $default_background_color;
  background-color: rgba(255, 255, 255, 0.281);
  font-weight: 700;
  font-size: 20pt;
  transition: all 0.5s;

  &:hover {
    color: $default_background_color;
    border: none;
    background-color: $bg_color;
    transition: all 0.5s;
  }
}

.bg_content {
  min-height: 400px;
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;

  @include bg;

  .elements {
    h3 {
      text-align: start;
      color: $default_background_color;
      font-size: 45px;
    }
    p {
      margin: 40px 0 40px 300px;
      text-align: start;
      width: 700px;
      color: $default_background_color;
      font-size: 25px;
    }
  }
}

//'About Us block'
.about_block {
  min-height: 100vh;
  background-color: #f3e3d3;

  .main_content {
    border-bottom: 2px solid $default_background_color;
    background-color: green;
  }

  .text_block {
    max-width: 800px;
    padding: 50px;

    h4 {
      border-bottom: 2px solid $default_background_color;
      padding-bottom: 15px;
      color: $default_background_color;
      font-size: 33pt;
    }
    p {
      color: $default_background_color;
      font-weight: 500;
      margin-top: 20px;
      font-size: 14pt;
    }
  }
  .picture {
    width: 571px;
    height: 571px;
    border-start-start-radius: 40%;
    @include bg;
  }
}

//men`s collection block
.men_collection {
  min-height: 100vh;
  background-color: $additional_c;

  .text_part {
    max-width: 630px;
    height: 300px;
    color: $default_background_color;

    h3 {
      font-size: 47pt;
      cursor: default;
    }
    a {
      font-size: 18pt;
      color: $default_background_color;
      margin: 0;
      padding: 0;
      transition: all 0.5s;

      &:hover {
        border-bottom: 1.5px solid $default_background_color;
        margin-bottom: -0.5px;
        transition: all 0.5s;
      }
    }
    p {
      margin: 20px 0;
      font-size: 17pt;
      cursor: default;
    }
  }
}

// bg 2 block
.bg_content_2 {
  min-height: 400px;
  background-image: url('../img/bg2.jpg');
  @include bg;

  .elements {
    h3 {
      text-align: start;
      color: $default_background_color;
      font-size: 44pt;
    }

    ::placeholder {
      color: #00000081;
      font-size: 18pt;
    }
    input {
      margin: 45px 0;
      padding: 0 20px;
      width: 600px;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.37);
      color: #00000081;
      font-size: 18pt;
      border: 2px solid #f2f2f2;
      &:focus {
        outline: none;
      }
    }
  }
}

//Footer
footer {
  overflow: hidden;
  .ellips {
    position: absolute;
    top: 300px;
    left: 330px;
    width: 387px;
    height: 153px;
    border: 2px solid $default_background_color;
    border-radius: 70%;
    transform: rotate(-50deg);
    @include bg;
  }
}
.footer {
  min-height: 400px;

  .company_name {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    h3 {
      width: 100%;
      color: $default_background_color;
      font-family: 'Marck Script', cursive;
      font-size: 30pt;
      padding-bottom: 15px;
      border-bottom: 2px solid $default_background_color;
    }
  }

  .text {
    color: $default_background_color;
    text-align: center;
    cursor: default;
    h4 {
      font-size: 17pt;
      padding-bottom: 8px;
    }
    span {
      margin: 5px 0;
      font-size: 13pt;
    }
  }

  .elements {
    h3 {
      width: 300px;
      text-align: start;
      color: $default_background_color;
      font-size: 20pt;
    }

    ::placeholder {
      color: $default_background_color;
      font-size: 15pt;
    }
    input {
      margin: 45px 0;
      padding: 0 20px;
      width: 300px;
      height: 40px;
      color: $default_background_color;
      font-size: 15pt;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid $default_background_color;
      outline: none;

      &:focus {
        outline: none;
      }
    }

    .btn {
      width: 300px;
      background-color: $bg_color;
      color: $default_background_color;
      font-size: 15pt;
      border-radius: 0;
      &:hover {
        background-color: #d1a699;
      }
    }
  }
}
